/* add your CSS here */
body {
  width: 300px;
  border: 1px solid rgba(103, 112, 5, 1);
  margin: 10px;
  padding: 0px 10px;
  box-shadow: 5px 5px 20px 0px rgba(204, 204, 204, 1);
}

.container {
  left: : 20px;
  background-color: rgba(119, 147, 178, 0.2);
}

h3 {
  color: rgba(10, 21, 255, 1);
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
}

img {
  width: 300px;
  margin: 10px 0px;
}

.emphasis {
  font-style:italic;
}

span {
  font-weight: bold;
}

ul{
  list-style: none;
  padding-left: 0px;
}

.box {
  border: 1px solid rgba(103, 112, 5, 1);
  padding: 0px 10px;
  margin: 10px 0px;
  color: rgba(10, 21, 255, 1);
}
